<div  class="login-form">
    <form (ngSubmit)="OnSubmit()" [formGroup]="form">
      <h1>Authentication</h1>
      <p>Fill out this form to login.</p>
      <hr />
  
   <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': loggedIn && f.email.errors }"
    />
    <div *ngIf="loggedIn && f.email.errors" class="invalid-feedback">
      <div  *ngIf="f.email.errors.required">Email is required</div>
      <div  *ngIf="f.email.errors.email">Email is invalid</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input
      type="password"
      formControlName="psw"
      class="form-control"
      [ngClass]="{ 'is-invalid': loggedIn && f.psw.errors }"
    />
    <div *ngIf="loggedIn && f.psw.errors" class="invalid-feedback">
      <div  *ngIf="f.psw.errors.required">Password is required</div>
      <div  *ngIf="f.psw.errors.minlength">
        Password must be at least 6 characters
      </div>
      <div  *ngIf="f.psw.errors.maxlength">
        Username must not exceed 40 characters
      </div>
    </div>
  </div>

      <!-- <p class="form-group"><button type="submit" [disabled]="form.invalid" routerLink="/search">Login</button> -->
        <p class="form-group"><button type="submit" >Login</button>
        <!-- <button type="button" [(ngModel)]="loggedIn"  (click)="register()">Register</button> -->
        <button type="button" [(ngModel)]="loggedIn"  (click)="reset()">Reset</button></p>
      <!-- <app-film *ngIf="loggedIn===true"></app-film> -->
    </form>
    <!-- <app-film-search *ngIf="loggedIn === true"></app-film-search> -->

  </div>



  <!-- <ul class="films">
    <li class="film card">
      <img
        class="poster"
        src="https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg"
      />
      <p class="title">
        Titanic
        <span class="rating">★★★★</span>
      </p>
      <dl>
        <dt>Release date</dt>
        <dd>07/01/1998</dd>
        <dt>Director</dt>
        <dd>James Cameron</dd>
        <dt>Actors</dt>
        <dd>Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates</dd>
      </dl>
      <p class="plot">
        84 years later, a 100 year-old woman named Rose DeWitt Bukater tells the
        story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine,
        Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in
        April 10th 1912, on a ship called Titanic when young Rose boards the
        departing ship with the upper-class passengers and her mother, Ruth DeWitt
        Bukater, and her fiancé, Caledon Hockley. Meanwhile, a drifter and artist
        named Jack Dawson and his best friend Fabrizio De Rossi win third-class
        tickets to the ship in a game. And she explains the whole story from
        departure until the death of Titanic on its first and last voyage April
        15th, 1912 at 2:20 in the morning.
      </p>
    </li>
  </ul> -->


 <!-- <ul *ngIf="loggedIn === true" class="films">

      <ng-container *ngFor="let film of films" >

    <li  class="film card"*ngIf="film.metascore > '70'" >

        <img class="poster" [src]="film.poster"/>

        <p>

            <span class="title">{{film.title}}</span>

            <span class="rating" *ngIf="film.metascore >= '85'">★★★★</span>

            <span class="rating" *ngIf="film.metascore < '85' && film.metascore >= '75'">★★★</span>

            <span class="rating" *ngIf="film.metascore < '75'">★★</span>

        </p>       

        <dl>

            <dt>Release date</dt>

            <dd>{{film.released}}</dd>

            <dt>Director</dt>

            <dd>{{film.director}}</dd>

            <dt>Actors</dt>

            <dd> {{film.actors}}</dd>

        </dl>

        <p class="plot"> {{film.plot}}</p>

    </li>

</ng-container>

  </ul> -->

<!--   <ul *ngIf="loggedIn === true" class="films">{{loggedIn}}

    <li class="film card" *ngFor="let film of films">

        <img class="poster" [src]="film.poster"/>


        <p>

            <span class="title">{{film.title}}</span>


            <span class="rating" >{{film.metascore| startRating }}</span> 

        </p>

        <dl>

            <dt>Release date</dt>

            <dd>{{film.released}}</dd>

            <dt>Director</dt>

            <dd>{{film.director}}</dd>

            <dt>Actors</dt>

            <dd> {{film.actors}}</dd>

        </dl>

        <p class="plot"> {{film.plot}}</p>

  </ul> -->
  